# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
.Python
venv/
embedded/
*.egg

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
coverage.xml
.pytest_cache/

# OS Specific
*.DS_Store

# Common IDEs & editors
.idea/
.vscode/
*.iml

# wheels
wheelhouse/
*.whl

.pytest_cache
